@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@500&family=Playfair+Display&display=swap");

.sub-menu-title {
  color: #fff;
  font-family: "Anonymous Pro", monospace;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
