@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@500&family=Playfair+Display&display=swap");

.sub-menu-title {
  color: #fff;
  font-family: "Anonymous Pro", monospace;
  font-size: 50px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.sub-beverage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.half-sub-beverage {
  width: 50%;
}

.sub-menu-beverages {
  padding: 0 100px;
}
