@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@500&family=Playfair+Display&display=swap");

.beverage-card {
  color: #fff;
  font-family: "Anonymous Pro", monospace;
  height: 250px;
}

.beverage-title {
  font-size: 40px;
}
.beverage-recipe {
  font-size: 25px;
}

.half-sub-beverage {
  width: 45%;
}
