@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@500&family=Playfair+Display&display=swap');

.contactmain{
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: 'Anonymous Pro', monospace;
}

.contactmain h2{
    font-size: 60px;
}

.contactmain p{
    font-size: 30px;
}

.map{
    width:600px; 
    height: 450px;
}